/* for the junk */ 

/* the oringal code here, made some tweaks

/*.welcome-headline {
  font-size: 3.1rem;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1;
  margin-left: auto;
  margin-right: 0rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


}
.welcome-subheadline {
  font-size: 2.1rem; 
  letter-spacing: 0px; 
  line-height: 1; 
  font-family:Economica; 
  text-transform:uppercase;
} */