/* css styles */

/*-- navbar --*/

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1em;
  // font-family: 'Arsenal', sans-serif;
  //font-family: 'Bebas Neue', sans-serif;
   font-family: 'Economica', sans-serif;
   text-transform: uppercase;
  }

/*quarto-header {
  /*border-bottom: 1px solid black; */
/*}*/


.navbar-brand.navbar-brand-logo {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 1.5em;
}

@media (max-width: 767px) {
  .navbar-brand.navbar-brand-logo {
    margin-left: 0;
}
}

@media (max-width: 991px) {
  .navbar-nav-scroll {
    background: #EAE7E7;
    width: 70%;
  }
  }

.nav-item {
    margin-top: 5rem; 
  }

@media (max-width: 991px) {
  .nav-item {
    margin-top: 0px;
    margin-right: 0rem;
}
}

.navbar-logo {
  max-height: 150px;
  width: auto;
  align-items: baseline;
}

@media (max-width: 991px) {
.navbar-logo {
  max-height: 100px;
  width: auto;
  align-items: baseline;
}
}
